---
---

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__column">
                <h4 class="footer__heading">Firma</h4>
                <ul class="footer__links">
                    <li><a href="/">Strona główna</a></li>
                    <li><a href="/produkty">Produkty</a></li>
                    <li><a href="/dostawa">Dostawa</a></li>
                </ul>
            </div>
            
            <div class="footer__column">
                <h4 class="footer__heading">Pomoc</h4>
                <ul class="footer__links">
                    <li><a href="#faq">FAQ</a></li>
                    <li><a href="#wysylka">Wysyłka i dostawa</a></li>
                    <li><a href="#zwroty">Polityka zwrotów</a></li>
                </ul>
            </div>
            
            <div class="footer__column">
                <h4 class="footer__heading">Kontakt</h4>
                <ul class="footer__contact">
                    <li>Tel: <a href="tel:128456789">128-456-789</a></li>
                    <li>Email: <a href="mailto:info@pellety.pl">info@pellety.pl</a></li>
                    <li>Adres: ul. Pelletowa 123, EkoMiasto</li>
                </ul>
            </div>
            
            <div class="footer__column">
                <h4 class="footer__heading">Śledź nas</h4>
                <ul class="footer__social">
                    <li><a href="#facebook" target="_blank">Facebook</a></li>
                    <li><a href="#instagram" target="_blank">Instagram</a></li>
                    <li><a href="#linkedin" target="_blank">LinkedIn</a></li>
                </ul>
            </div>
        </div>
        
        <div class="footer__bottom">
            <p>&copy; 2025 Premium Pellets Co. Wszelkie prawa zastrzeżone.</p>
        </div>
    </div>
</footer>

<style>

</style>
